html,
body {
  font-family: var(--ff);
  scroll-behavior: smooth;
}

body {
  background-size: cover;
}

.container {
  max-width: 1173px;
  margin-inline: auto;
  padding: 0 20px;
}

.btn {
  border-radius: 4px;
  background: var(--btn-color);
  transition: 0.2s all ease-in;
  &:hover {
    background: linear-gradient(90deg, #02153e 0.36%, #e11dff 201.02%);
  }
}
