.footer {
  display: flex;
  flex-direction: column;

 

  &__container {
    display: flex;
    flex-direction: column;
    padding-right: 141px;
    padding-left: 141px;
    border-bottom: 1px solid rgba(150, 150, 150, 0.2);
    @include mobile {
      padding: 0;
    }
  }

  &__content {
    display: flex;
    align-items: center;
    gap: 98px;
    margin-inline: auto;
    @include tablet {
      flex-direction: column;
      gap: 20px;
      text-align: center;
    }

    .footer-media {
      display: flex;
      gap: 15px;
      &__icon {
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #969696;
        border-radius: 50%;
        width: 32px;
        height: 32px;
        border-radius: 32.2px;
        border: 1px solid var(--Stoke, rgba(255, 255, 255, 0.08));
        background: var(
          --Bg,
          linear-gradient(
            180deg,
            rgba(254, 254, 255, 0.01) 0%,
            rgba(255, 255, 255, 0.02) 100%
          )
        );
      }
    }
  }

  &__conect {
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: var(--white);
    margin-bottom: 17px;
  }

  &__logo {
    display: flex;
    align-items: center;
    gap: 8px;
    font-family: var(--ff-second);
    font-size: 20px;
    font-weight: 500;
  }
  &__contact {
    display: flex;
    flex-direction: column;
    gap: 14px;
  }
  &__location{
    display: flex;
    align-items: center;
    gap: 7px;
    color: var(--Footer-Gradient);
    font-family: DM Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    transition:0.2s all ease-in-out;
    &:hover{
      color: rgb(213, 60, 60);
    }
  }
  &__tel {
    display: flex;
    align-items: center;
    gap: 7px;
    color: var(--Footer-Gradient);
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    transition:0.2s all ease-in-out;
    &:hover{
      color: rgb(213, 60, 60);
    }
  }
  &__mail {
    display: flex;
    align-items: center;
    gap: 7px;
    color: var(--Footer-Gradient);
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    transition:0.2s all eease-in-out;
    &:hover{
      color: rgb(213, 60, 60);
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-bottom: 32px;
  }

  &__link {
    color: var(--Footer-Gradient);
    font-size: 18px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0.18px;
    transition: 0.5s all ease-in-out;
    &:hover {
      text-decoration: underline;
    }
  }

  &__title {
    color: var(--Footer-Gradient);
    font-size: 18px;
    font-weight: 500;
    line-height: 40px;
    letter-spacing: 0.18px;
  }


  &__bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 714px;
    padding: 33px 0 33px 0;
    @include tablet {
      flex-direction: column;
      gap: 30px;
    }
    @include mobile {
    }
  }

  &__copiwrhite {
    color: var(--Footer-Gradient);
    font-family: var(--ff-second);
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
  }
}
.footer-defense {
  display: flex;
  gap: 53px;
  &__link {
    color: var(--Footer-Gradient);
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
  }
}
