.service {
  display: flex;
  flex-direction: column;

  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--white);
  }

  &__title {
    font: var(--title);
    margin-bottom: 30px;
    @include tablet{
      font-size: 32px;
    }
  }

  &__desc {
    font: var(--desc);
    width: 587px;
    @include tablet{
      width: 487px;
      font-size: 14px;
    }
  }

  &__card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    @include tablet{
      grid-template-columns: 1fr 1fr;
    }
  }
}
.service-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 37px 23px 30px 23px;
  color: var(--white);
  border-radius: 34px;
  border: 1px solid var(--Bg-2, rgba(255, 255, 255, 0.08));
  background: linear-gradient(
    268deg,
    rgba(254, 254, 255, 0.03) -11.04%,
    rgba(255, 255, 255, 0.02) 104.89%
  );
  box-shadow: 0px 22px 18px 0px rgba(0, 0, 0, 0.05);
  margin-top: 40px;
  &__icon {
    flex-shrink: 0;
    margin-bottom: 19px;
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 17px;
  }

  &__desc {
    font: var(--desc);
    margin-bottom: 24px;
  }

  &__more {
    color: var(--white);
    font: var(--desc);
  }

  .purple {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 74px;
    height: 74px;
    flex-shrink: 0;
    border-radius: 50%;
    background: linear-gradient(180deg, #8A7FD9 0%, #402F8F 100%);
  }


  .pink {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 74px;
    height: 74px;
    flex-shrink: 0;
    border-radius: 50%;
    background: linear-gradient(180deg, #d97f95 0%, #923250 100%);
  }
  .blue {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 74px;
    height: 74px;
    flex-shrink: 0;
    border-radius: 50%;

    background: linear-gradient(180deg, #84d8ed 0%, #4292bb 100%);
  }
  .green {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 74px;
    height: 74px;
    flex-shrink: 0;
    border-radius: 50%;
    background:  linear-gradient(180deg, #92EFC3 0%, #2F8F5B 100%);
  }
  .violet {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 74px;
    height: 74px;
    flex-shrink: 0;
    border-radius: 50%;
    background: linear-gradient(180deg, #bc7fd9 0%, #923283 100%);
  }
  .viowwite {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 74px;
    height: 74px;
    flex-shrink: 0;
    border-radius: 50%;
    background: linear-gradient(180deg, #8684ed 0%, #4247bb 100%);
  }
}
