.virtual {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include tablet {
    flex-direction: column;
    margin-bottom: 100px;
    padding-top: 80px;
  }

  &__info {
    display: flex;
    flex-direction: column;
    @include mobile {
      text-align: center;
    }
  }

  &__title {
    width: 546px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.07);
    font-size: 58px;
    font-weight: 700;
    line-height: 84px;
    letter-spacing: 1.16px;
    background: var(
      --Gd,
      linear-gradient(90deg, #2563eb 0.11%, #d946ef 58.65%)
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 29px;
    @include tablet {
      width: 444px;
      font-size: 44px;
    }
    @include mobile {
      width: 244px;
      font-size: 24px;
      line-height: 24px;
    }
    
  }

  &__desc {
    width: 534px;
    color: #e5e7eb;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.07);
    font-size: 15px;
    font-weight: 500;
    line-height: 30px;
    margin-bottom: 31px;
    @include tablet {
      width: 434px;
      font-size: 12px;
    }
    @include mobile {
      width: 234px;
      font-size: 10px;
    }
  }
  &__parts {
    display: flex;
    gap: 29px;
    @include tablet{
      justify-content: center;
    }
  }

  &__btn {
    color: #f9fafb;
    font-size: 16px;
    font-weight: 500;
    padding: 20px 40px;
    @include tablet {
      font-size: 16px;
      padding: 15px 30px;
    }
    @include mobile {
      font-size: 12px;
      padding: 10px 20px;
    }
  }

  &__join {
  }

  &__watch {
    display: flex;
    align-items: center;
    gap: 20px;
    color: #f9fafb;
    font-size: 16px;
    font-weight: 500;
    @include mobile {
      font-size: 12px;
      img{
        width: 25px;
      }
    }
  }

  &__img {
    flex-shrink: 0;
    @include tablet {
      display: none;
    }
  }
}
